.cart {
  position: relative;
}

.cartWindow {
  position: absolute;
  right: 0;
  top: 24px;
  min-width: 300px;
  background: #f0f1f2;
  padding: 10px;
}

.cartItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2px;
  padding: 5px 0;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.cartItemName {
  margin-right: 6px;
}