*,
:after,
:before {
  box-sizing: border-box;
}

html {
  min-height: 100vh !important;
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font-weight: 500;
  outline: none !important;
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding-left: 2em;
  list-style: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

hr {
  display: block;
  width: 100%;
  height: 2px;
  margin: 1.5em 0;
  background: #ccc;
  border: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 16px;
  overflow: auto;
  font-size: 12px;
  line-height: 1.45;
  word-wrap: normal;
  word-break: normal;
  background-color: #e8ebef;
  border-radius: 3px;
}

code {
  display: inline-block;
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

article {
  word-wrap: break-word;
}

button {
  font-weight: 500;
}

figure {
  margin: 0;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}
