:root {
  --color-bg: #fff;
  --color-primary: #444b5b;
  --color-primary-80: #969aa3;
  --color-primary-60: #d2d4d8;
  --color-primary-40: #f0f1f2;
  --color-primary-20: #f7f8f9;
  --color-primary-shade: #2f333d;
  --color-primary-shade-80: #787d89;
  --color-primary-shade-60: #bbbec4;
  --color-primary-shade-40: #e1e2e5;
  --color-primary-shade-20: #f0f1f2;
  --color-text: #333;
  --color-text-80: #666;
  --color-text-60: #999;
  --color-text-40: #b0b0b0;
  --color-text-20: #fff;
  --color-accent-green: #78be20;
  --color-accent-orange: #f4be55;
  --color-accent-red: #e6615e;
  --color-accent-blue: #2772c7;
  --color-accent-yellow: #ffe55a;
  --color-accent-green-shade: #e4f2d2;
  --color-accent-orange-shade: #fcefd5;
  --color-accent-red-shade: #fadfdf;
  --color-accent-blue-shade: #dae7f5;
  --color-accent-yellow-shade: #fffade;
  --safe-area-top: 0px;
  --safe-area-right: 0px;
  --safe-area-bottom: 0px;
  --safe-area-left: 0px;
  --layout-gap: 16px;
  --layout-inner-gap: 12px;
  --layout-columns-count: 24;
  --layout-min-width: 320px;
  --layout-width: 100%;
  --layout-max-width: 1180px;
  --layout-ears: calc(-1 * (100vw - var(--layout-width)) / 2);
}
